@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  background-color: white;
  color: black;
}

html.dark body {
  background-color: black;
  color: white;
}

.animate-scroll-left:hover,
.animate-scroll-right:hover,
.animate-scroll-right-mobile:hover,
.animate-scroll-left-mobile:hover {
  animation-play-state: paused;
}

.form__group {
  position: relative;
  padding: 20px 0 0;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 17px;
  /* color: #000; */
  background: transparent;
  transition: border-color 0.2s;
  padding: 7px 0;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
  color: #9b9b9b;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #9b9b9b;
  pointer-events: none;
}

.form__field:focus {
  /* font-weight: 700; */
  border-width: 3px;
  border-image: linear-gradient(to right, #116399, #38caef);
  border-image-slice: 1;
}

.form__field:focus ~ .form__label,
.form__field:not(:placeholder-shown) ~ .form__label {
  font-size: 12px;
  top: 0;
  color: #62b6ee;
  font-weight: 700;
}

textarea.form__field {
  resize: none;
  min-height: 80px;
}
